In [1]:
import requests
import keys
import pandas as pd
import json

In [2]:
url = "https://www.alphavantage.co/query?"
api_key = keys.alphaVantageAPI

In [3]:
sample_url = f"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&datatype=csv&apikey={api_key}"

In [10]:
params = {
    'function': 'TIME_SERIES_INTRADAY',
    'symbol': 'IBM',
    'interval': '5min',
    'datatype': 'csv',
    'apikey' : api_key
    
}

In [11]:
response = requests.get(url, params=params)

In [12]:
response.status_code

200

In [13]:
res = response.text
with open("IBM.csv", "w") as file:
    file.writelines(res)

In [16]:
df = pd.read_csv("IBM.csv", parse_dates=['timestamp'], index_col='timestamp')
df.sort_index(inplace=True)
df.head()

                        open     high     low    close  volume
timestamp
2023-08-24 10:30:00  143.720  143.738  143.52  143.640   20255
2023-08-24 10:35:00  143.640  143.640  143.46  143.500   20436
2023-08-24 10:40:00  143.520  143.540  143.29  143.380   27146
2023-08-24 10:45:00  143.365  143.390  143.22  143.330   18903
2023-08-24 10:50:00  143.345  143.462  143.32  143.455   14614

In [17]:
df.tail()

                       open    high     low   close  volume
timestamp
2023-08-24 19:10:00  143.80  143.80  143.80  143.80       1
2023-08-24 19:20:00  143.60  143.60  143.60  143.60       5
2023-08-24 19:35:00  143.56  143.56  143.56  143.56       5
2023-08-24 19:45:00  143.56  143.56  143.55  143.55     501
2023-08-24 19:55:00  143.80  143.80  143.55  143.55      16