In [1]:
import requests
import keys
import pandas as pd
import json

In [2]:
# pip install alpha-vantage
from alpha_vantage.timeseries import TimeSeries

In [3]:
url = "https://www.alphavantage.co/query"
api_key = keys.alphaVantageAPI

## getting historical stock price and voluma data

In [4]:
ts = TimeSeries(key=api_key, output_format='pandas')

In [12]:
[i for i in dir(ts) if not i.startswith("_")]

['get_daily',
 'get_daily_adjusted',
 'get_intraday',
 'get_intraday_extended',
 'get_monthly',
 'get_monthly_adjusted',
 'get_quote_endpoint',
 'get_symbol_search',
 'get_weekly',
 'get_weekly_adjusted',
 'headers',
 'indexing_type',
 'key',
 'map_to_matype',
 'output_format',
 'proxy',
 'rapidapi',
 'set_proxy',
 'treat_info_as_error']

In [13]:
GE = ts.get_daily('GE')

In [18]:
print(len(GE))
type(GE)

2

tuple

In [16]:
GE[0]

            1. open   2. high   3. low  4. close  5. volume
date
2023-08-28  112.550  114.2800  112.150    113.96  2812736.0
2023-08-25  111.450  112.3700  110.220    111.97  3115353.0
2023-08-24  113.200  113.9600  111.020    111.04  3361675.0
2023-08-23  111.495  113.7599  111.495    113.47  2847582.0
2023-08-22  112.150  113.0500  110.840    111.66  2640617.0
...             ...       ...      ...       ...        ...
2023-04-12   94.260   94.6700   93.810     94.10  6997746.0
2023-04-11   94.510   94.9600   93.880     93.91  5317712.0
2023-04-10   93.830   94.9900   93.610     94.36  5985450.0
2023-04-06   94.120   94.3900   93.540     93.60  6404896.0
2023-04-05   94.980   95.3200   93.655     94.25  8493362.0

[100 rows x 5 columns]

In [17]:
GE[1]

{'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
 '2. Symbol': 'GE',
 '3. Last Refreshed': '2023-08-28',
 '4. Output Size': 'Compact',
 '5. Time Zone': 'US/Eastern'}

## setting specific time periods

In [19]:
ge = ts.get_daily("GE", outputsize = "compact")[0]

In [20]:
ge

            1. open   2. high   3. low  4. close  5. volume
date
2023-08-28  112.550  114.2800  112.150    113.96  2812736.0
2023-08-25  111.450  112.3700  110.220    111.97  3115353.0
2023-08-24  113.200  113.9600  111.020    111.04  3361675.0
2023-08-23  111.495  113.7599  111.495    113.47  2847582.0
2023-08-22  112.150  113.0500  110.840    111.66  2640617.0
...             ...       ...      ...       ...        ...
2023-04-12   94.260   94.6700   93.810     94.10  6997746.0
2023-04-11   94.510   94.9600   93.880     93.91  5317712.0
2023-04-10   93.830   94.9900   93.610     94.36  5985450.0
2023-04-06   94.120   94.3900   93.540     93.60  6404896.0
2023-04-05   94.980   95.3200   93.655     94.25  8493362.0

[100 rows x 5 columns]

In [21]:
ge = ts.get_daily("GE", outputsize = "full")[0]

In [28]:
ge

            1. open   2. high   3. low  4. close  5. volume
date
2023-08-28  112.550  114.2800  112.150    113.96  2812736.0
2023-08-25  111.450  112.3700  110.220    111.97  3115353.0
2023-08-24  113.200  113.9600  111.020    111.04  3361675.0
2023-08-23  111.495  113.7599  111.495    113.47  2847582.0
2023-08-22  112.150  113.0500  110.840    111.66  2640617.0
...             ...       ...      ...       ...        ...
1999-11-05  133.190  134.8100  133.190    133.75  4688900.0
1999-11-04  132.500  133.5600  130.500    131.88  4353600.0
1999-11-03  132.880  132.9400  130.000    131.38  4589000.0
1999-11-02  129.690  133.1300  128.190    129.00  6340600.0
1999-11-01  133.630  134.3800  129.250    129.38  6795500.0

[5994 rows x 5 columns]

# stock splits and dividends

In [23]:
import yfinance as yf

In [25]:
ge_yf = yf.download("GE", start=ge.index[-1])
ge_yf.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-11-01,267.469330,268.970551,258.712158,258.962341,141.638992,3394964
1999-11-02,259.587860,266.468506,256.585388,258.211731,141.228439,3167700
1999-11-03,265.968109,266.093201,260.213379,262.965637,143.828644,2292619
1999-11-04,265.217468,267.344208,261.214203,263.966461,144.376022,2175015
1999-11-05,266.593597,269.846283,266.593597,267.719543,146.428726,2342528

In [31]:
#ge_ad = ts.get_daily_adjusted("GE", outputsize="full")[0]
#ge_ad.head()
# get_daily_adjusted is now a premium feature :(