# importing currencies / FX

In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
ticker = "EURUSD=X"
ticker_2 = "USDEUR=X"

In [4]:
eurusd = yf.download(ticker, period='5y')
usdeur = yf.download(ticker_2, period='5y')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [12]:
ticker_3 = "USDGBP=X"

In [16]:
usdgbp = yf.download(ticker_3, period='5y')

[*********************100%%**********************]  1 of 1 completed

In [11]:
eurusd.tail(10)

                Open      High       Low     Close  Adj Close  Volume
Date
2023-08-14  1.094439  1.096035  1.087749  1.094439   1.094439       0
2023-08-15  1.090988  1.094966  1.090085  1.090988   1.090988       0
2023-08-16  1.090417  1.093470  1.089776  1.090417   1.090417       0
2023-08-17  1.087488  1.091727  1.086236  1.087488   1.087488       0
2023-08-18  1.087465  1.089562  1.084646  1.087465   1.087465       0
2023-08-21  1.087559  1.091358  1.087063  1.087559   1.087559       0
2023-08-22  1.089835  1.093200  1.083400  1.089835   1.089835       0
2023-08-23  1.084669  1.087051  1.080299  1.084669   1.084669       0
2023-08-24  1.086579  1.087690  1.081549  1.086579   1.086579       0
2023-08-25  1.081900  1.081900  1.077122  1.080731   1.080731       0

In [17]:
usdgbp.tail(10)

               Open     High      Low    Close  Adj Close  Volume
Date
2023-08-14  0.78771  0.79245  0.78639  0.78771    0.78771       0
2023-08-15  0.78826  0.78883  0.78415  0.78832    0.78832       0
2023-08-16  0.78739  0.78812  0.78334  0.78732    0.78732       0
2023-08-17  0.78573  0.78708  0.78206  0.78566    0.78566       0
2023-08-18  0.78444  0.78797  0.78331  0.78430    0.78430       0
2023-08-21  0.78482  0.78672  0.78339  0.78481    0.78481       0
2023-08-22  0.78362  0.78610  0.78119  0.78365    0.78365       0
2023-08-23  0.78544  0.79262  0.78345  0.78545    0.78545       0
2023-08-24  0.78611  0.79180  0.78561  0.78613    0.78613       0
2023-08-25  0.79334  0.79614  0.79229  0.79295    0.79295       0