# importing MUTUAL FUNDS AND ETFs

In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [5]:
ticker = "TLT"  # iShares 20+ Year Treasury Bond ETF
ticker2 = "OMOIX"  # Vivaldi Multi-Strategy Fund Class I

In [3]:
yf.download(ticker, period='5y')

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-08-27,121.779999,121.870003,121.519997,121.589996,109.323975,6407400
2018-08-28,121.000000,121.089996,120.680000,120.860001,108.667618,4929300
2018-08-29,120.940002,121.150002,120.620003,121.019997,108.811440,5613300
2018-08-30,121.309998,121.459999,121.080002,121.279999,109.045212,5302900
2018-08-31,121.889999,121.919998,120.889999,121.000000,108.793480,9677500
...,...,...,...,...,...,...
2023-08-18,93.430000,94.190002,93.300003,93.769997,93.769997,24176000
2023-08-21,92.660004,92.760002,92.230003,92.519997,92.519997,29254100
2023-08-22,92.639999,93.279999,92.459999,93.230003,93.230003,21323100
2023-08-23,94.300003,95.550003,94.230003,95.540001,95.540001,38294700
2023-08-24,95.129997,95.550003,94.889999,94.910004,94.910004,22286000

In [4]:
yf.download(ticker2, period='5y')

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2023-04-17  24.100000  24.100000  24.100000  24.100000  24.100000       0
2023-04-18  24.100000  24.100000  24.100000  24.100000  24.100000       0
2023-04-19  24.110001  24.110001  24.110001  24.110001  24.110001       0
2023-04-24  24.120001  24.120001  24.120001  24.120001  24.120001       0
2023-04-25  23.959999  23.959999  23.959999  23.959999  23.959999       0
2023-04-26  23.990000  23.990000  23.990000  23.990000  23.990000       0
2023-04-27  24.049999  24.049999  24.049999  24.049999  24.049999       0
2023-04-28  24.070000  24.070000  24.070000  24.070000  24.070000       0
2023-05-01  24.090000  24.090000  24.090000  24.090000  24.090000       0
2023-05-02  24.030001  24.030001  24.030001  24.030001  24.030001       0
2023-05-03  23.990000  23.990000  23.990000  23.990000  23.990000       0
2023-05-04  23.879999  23.879999  23.879999  23.879999  23.879999       0
2023-05-05  23.980000  23.980000  23.980000  23.980000  23.980000       0
2023-05-08  23.990000  23.990000  23.990000  23.990000  23.990000       0
2023-05-09  23.990000  23.990000  23.990000  23.990000  23.990000       0
2023-05-10  24.010000  24.010000  24.010000  24.010000  24.010000       0
2023-05-11  24.020000  24.020000  24.020000  24.020000  24.020000       0
2023-05-12  24.020000  24.020000  24.020000  24.020000  24.020000       0
2023-05-15  24.000000  24.000000  24.000000  24.000000  24.000000       0
2023-05-16  23.990000  23.990000  23.990000  23.990000  23.990000       0
2023-05-17  24.010000  24.010000  24.010000  24.010000  24.010000       0
2023-05-18  24.030001  24.030001  24.030001  24.030001  24.030001       0
2023-05-19  24.040001  24.040001  24.040001  24.040001  24.040001       0
2023-05-22  24.049999  24.049999  24.049999  24.049999  24.049999       0
2023-05-23  24.030001  24.030001  24.030001  24.030001  24.030001       0
2023-05-24  24.030001  24.030001  24.030001  24.030001  24.030001       0
2023-05-25  23.920000  23.920000  23.920000  23.920000  23.920000       0
2023-05-26  23.969999  23.969999  23.969999  23.969999  23.969999       0
2023-05-30  23.990000  23.990000  23.990000  23.990000  23.990000       0
2023-05-31  23.980000  23.980000  23.980000  23.980000  23.980000       0
2023-06-01  24.020000  24.020000  24.020000  24.020000  24.020000       0
2023-06-02  24.040001  24.040001  24.040001  24.040001  24.040001       0
2023-06-07  24.059999  24.059999  24.059999  24.059999  24.059999       0
2023-06-08  24.080000  24.080000  24.080000  24.080000  24.080000       0
2023-06-09  24.080000  24.080000  24.080000  24.080000  24.080000       0