In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
ticker = 'DIS'

In [3]:
dis = yf.Ticker(ticker)

In [4]:
dis

yfinance.Ticker object <DIS>

In [5]:
dis.ticker

'DIS'

In [15]:
methods = [m for m in dir(dis) if '__' not in m]
methods

['_analysis',
 '_base_url',
 '_data',
 '_download_options',
 '_earnings',
 '_earnings_dates',
 '_expirations',
 '_fast_info',
 '_fetch_ticker_tz',
 '_financials',
 '_fix_bad_stock_split',
 '_fix_missing_div_adjust',
 '_fix_prices_sudden_change',
 '_fix_unit_mixups',
 '_fix_unit_random_mixups',
 '_fix_unit_switch',
 '_fix_zeroes',
 '_fundamentals',
 '_get_ticker_tz',
 '_history',
 '_history_metadata',
 '_history_metadata_formatted',
 '_holders',
 '_isin',
 '_news',
 '_options2df',
 '_quote',
 '_reconstruct_intervals_batch',
 '_reconstruct_start_interval',
 '_shares',
 '_tz',
 '_underlying',
 'actions',
 'analyst_price_target',
 'balance_sheet',
 'balancesheet',
 'basic_info',
 'calendar',
 'capital_gains',
 'cash_flow',
 'cashflow',
 'dividends',
 'earnings',
 'earnings_dates',
 'earnings_forecasts',
 'earnings_trend',
 'fast_info',
 'financials',
 'get_actions',
 'get_analyst_price_target',
 'get_balance_sheet',
 'get_balancesheet',
 'get_calendar',
 'get_capital_gains',
 'get_cash_flow',
 'get_cashflow',
 'get_dividends',
 'get_earnings',
 'get_earnings_dates',
 'get_earnings_forecast',
 'get_earnings_trend',
 'get_fast_info',
 'get_financials',
 'get_history_metadata',
 'get_income_stmt',
 'get_incomestmt',
 'get_info',
 'get_institutional_holders',
 'get_isin',
 'get_major_holders',
 'get_mutualfund_holders',
 'get_news',
 'get_recommendations',
 'get_recommendations_summary',
 'get_rev_forecast',
 'get_shares',
 'get_shares_full',
 'get_splits',
 'get_sustainability',
 'get_trend_details',
 'history',
 'history_metadata',
 'income_stmt',
 'incomestmt',
 'info',
 'institutional_holders',
 'isin',
 'major_holders',
 'mutualfund_holders',
 'news',
 'option_chain',
 'options',
 'quarterly_balance_sheet',
 'quarterly_balancesheet',
 'quarterly_cash_flow',
 'quarterly_cashflow',
 'quarterly_earnings',
 'quarterly_financials',
 'quarterly_income_stmt',
 'quarterly_incomestmt',
 'recommendations',
 'recommendations_summary',
 'revenue_forecasts',
 'session',
 'shares',
 'splits',
 'sustainability',
 'ticker',
 'trend_details']

In [9]:
dis.splits

Date
1962-12-18 00:00:00-05:00    1.030000
1967-11-16 00:00:00-05:00    2.000000
1971-03-01 00:00:00-05:00    2.000000
1973-01-16 00:00:00-05:00    2.000000
1986-03-06 00:00:00-05:00    4.000000
1992-05-18 00:00:00-04:00    4.000000
1998-07-10 00:00:00-04:00    3.000000
2007-06-13 00:00:00-04:00    1.013685
Name: Stock Splits, dtype: float64

In [21]:
dis.info

{'address1': '500 South Buena Vista Street',
 'city': 'Burbank',
 'state': 'CA',
 'zip': '91521',
 'country': 'United States',
 'phone': '818 560 1000',
 'website': 'https://www.thewaltdisneycompany.com',
 'industry': 'Entertainment',
 'industryDisp': 'Entertainment',
 'sector': 'Communication Services',
 'sectorDisp': 'Communication Services',
 'longBusinessSummary': 'The Walt Disney Company, together with its subsidiaries, operates as an entertainment company worldwide. It operates through two segments, Disney Media and Entertainment Distribution; and Disney Parks, Experiences and Products. The company engages in the film and episodic television content production and distribution activities, as well as operates television networks under the ABC, Disney, ESPN, Freeform, FX, Fox, National Geographic, and Star brands; and studios that produces films under the Walt Disney Pictures, Twentieth Century Studios, Marvel, Lucasfilm, Pixar, and Searchlight Pictures banners. It also offers direct-to-consumer streaming services through Disney+, Disney+ Hotstar, ESPN+, Hulu, and Star+; sale/licensing of film and television content to third-party television and subscription video-on-demand services; theatrical, home entertainment, and music distribution services; staging and licensing of live entertainment events; and post-production services by Industrial Light & Magic and Skywalker Sound. In addition, the company operates theme parks and resorts, such as Walt Disney World Resort in Florida; Disneyland Resort in California; Disneyland Paris; Hong Kong Disneyland Resort; and Shanghai Disney Resort; Disney Cruise Line, Disney Vacation Club, National Geographic Expeditions, and Adventures by Disney, as well as Aulani, a Disney resort and spa in Hawaii. Further, it licenses its intellectual property to a third party for the operations of the Tokyo Disney Resort; provides consumer products, including licensing of trade names, characters, visual, literary, and other IP for use on merchandise, published materials, and games; operates a direct-to-home satellite distribution platform; sells branded merchandise through retail, online, and wholesale businesses; and develops and publishes books, comic books, and magazines. The Walt Disney Company was founded in 1923 and is based in Burbank, California.',
 'fullTimeEmployees': 171600,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Robert A. Iger',
   'age': 71,
   'title': 'CEO & Director',
   'yearBorn': 1951,
   'fiscalYear': 2022,
   'totalPay': 11268271,
   'exercisedValue': 34866408,
   'unexercisedValue': 778341},
  {'maxAge': 1,
   'name': 'Mr. Horacio E. Gutierrez',
   'age': 57,
   'title': 'Sr. EVP & Gen. Counsel',
   'yearBorn': 1965,
   'fiscalYear': 2022,
   'totalPay': 6746194,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Kristina K. Schake',
   'age': 51,
   'title': 'Sr. EVP & Chief Communications Officer',
   'yearBorn': 1971,
   'fiscalYear': 2022,
   'totalPay': 3186694,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Kevin  Lansberry',
   'age': 58,
   'title': 'Interim Chief Financial Officer',
   'yearBorn': 1964,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Diane  Jurgens M.B.A., BSEE, MSEE, MBA',
   'age': 60,
   'title': 'Exec. VP of Enterprise Technology & Chief Information Officer',
   'yearBorn': 1962,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alexia Skouras Quadrani',
   'title': 'Exec. VP of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alicia  Schwarz',
   'title': 'Sr. VP & Chief Compliance Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Sonia  Coleman',
   'title': 'Sr. EVP & Chief HR Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ronald L. Iden',
   'age': 75,
   'title': 'Sr. VP & Chief Security Officer',
   'yearBorn': 1947,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Brent A. Woodford',
   'age': 59,
   'title': 'Exec. VP of Controllership, Financial Planning & Tax',
   'yearBorn': 1963,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 1,
 'compensationRisk': 3,
 'shareHolderRightsRisk': 4,
 'overallRisk': 1,
 'governanceEpochDate': 1690848000,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 85.83,
 'open': 85.51,
 'dayLow': 82.46,
 'dayHigh': 85.95,
 'regularMarketPreviousClose': 85.83,
 'regularMarketOpen': 85.51,
 'regularMarketDayLow': 82.46,
 'regularMarketDayHigh': 85.95,
 'exDividendDate': 1576195200,
 'payoutRatio': 0.0,
 'beta': 1.276065,
 'trailingPE': 69.88983,
 'forwardPE': 18.205297,
 'volume': 27100310,
 'regularMarketVolume': 27100310,
 'averageVolume': 15443341,
 'averageVolume10days': 14406150,
 'averageDailyVolume10Day': 14406150,
 'bid': 82.89,
 'ask': 82.85,
 'bidSize': 800,
 'askSize': 900,
 'marketCap': 157050093568,
 'fiftyTwoWeekLow': 82.46,
 'fiftyTwoWeekHigh': 118.37,
 'priceToSalesTrailing12Months': 1.7885828,
 'fiftyDayAverage': 87.9168,
 'twoHundredDayAverage': 94.85085,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'USD',
 'enterpriseValue': 199964852224,
 'profitMargins': 0.02565,
 'floatShares': 1828333264,
 'sharesOutstanding': 1829779968,
 'sharesShort': 22335351,
 'sharesShortPriorMonth': 20844198,
 'sharesShortPreviousMonthDate': 1688083200,
 'dateShortInterest': 1690761600,
 'sharesPercentSharesOut': 0.012200001,
 'heldPercentInsiders': 0.00058,
 'heldPercentInstitutions': 0.65004,
 'shortRatio': 1.41,
 'shortPercentOfFloat': 0.012200001,
 'impliedSharesOutstanding': 1904329984,
 'bookValue': 53.339,
 'priceToBook': 1.5461482,
 'lastFiscalYearEnd': 1664582400,
 'nextFiscalYearEnd': 1696118400,
 'mostRecentQuarter': 1688169600,
 'netIncomeToCommon': 2252000000,
 'trailingEps': 1.18,
 'forwardEps': 4.53,
 'pegRatio': 1.3,
 'lastSplitFactor': '10000:9865',
 'lastSplitDate': 1181692800,
 'enterpriseToRevenue': 2.277,
 'enterpriseToEbitda': 15.38,
 '52WeekChange': -0.2770229,
 'SandP52WeekChange': 0.07853043,
 'lastDividendValue': 0.88,
 'lastDividendDate': 1576195200,
 'exchange': 'NYQ',
 'quoteType': 'EQUITY',
 'symbol': 'DIS',
 'underlyingSymbol': 'DIS',
 'shortName': 'Walt Disney Company (The)',
 'longName': 'The Walt Disney Company',
 'firstTradeDateEpochUtc': -252322200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'aef70f8f-79be-3478-9d04-39acf5bad0ef',
 'messageBoardId': 'finmb_191564',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 82.47,
 'targetHighPrice': 134.37,
 'targetLowPrice': 59.82,
 'targetMeanPrice': 100.67,
 'targetMedianPrice': 101.23,
 'recommendationMean': 2.2,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 26,
 'totalCash': 11457999872,
 'totalCashPerShare': 6.262,
 'ebitda': 13002000384,
 'totalDebt': 47189000192,
 'quickRatio': 0.87,
 'currentRatio': 1.069,
 'totalRevenue': 87807000576,
 'debtToEquity': 42.535,
 'revenuePerShare': 48.074,
 'returnOnAssets': 0.02368,
 'returnOnEquity': 0.027209999,
 'grossProfits': 28321000000,
 'freeCashflow': 5497874944,
 'operatingCashflow': 7587999744,
 'revenueGrowth': 0.038,
 'grossMargins': 0.32772,
 'ebitdaMargins': 0.14807001,
 'operatingMargins': 0.08798,
 'financialCurrency': 'USD',
 'trailingPegRatio': 0.7441}

In [14]:
dis.options

('2023-08-25',
 '2023-09-01',
 '2023-09-08',
 '2023-09-15',
 '2023-09-22',
 '2023-09-29',
 '2023-10-06',
 '2023-10-20',
 '2023-11-17',
 '2023-12-15',
 '2024-01-19',
 '2024-03-15',
 '2024-04-19',
 '2024-06-21',
 '2025-01-17',
 '2025-06-20',
 '2025-12-19')

In [18]:
dis.get_cashflow()

,2022-09-30,2021-09-30,2020-09-30,2019-09-30
FreeCashFlow,1067000000.0,1989000000.0,3596000000.0,1730000000.0
RepurchaseOfCapitalStock,NaN,NaN,0.0,0.0
RepaymentOfDebt,-4016000000.0,-3737000000.0,-6887000000.0,-38881000000.0
IssuanceOfDebt,333000000.0,64000000.0,18120000000.0,42558000000.0
CapitalExpenditure,-4943000000.0,-3578000000.0,-4022000000.0,-4876000000.0
...,...,...,...,...
PensionAndEmployeeBenefitExpense,620000000.0,816000000.0,NaN,NaN
EarningsLossesFromEquityInvestments,-816000000.0,-761000000.0,-651000000.0,103000000.0
GainLossOnInvestmentSecurities,714000000.0,-332000000.0,-920000000.0,NaN
GainLossOnSaleOfBusiness,NaN,NaN,NaN,-4794000000.0
NetIncomeFromContinuingOperations,3553000000.0,2536000000.0,-2442000000.0,10913000000.0

In [19]:
dis.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-07-25 00:00:00-04:00,85.730003,86.309998,85.160004,85.629997,15335400,0.0,0.0
2023-07-26 00:00:00-04:00,85.669998,86.269997,85.449997,85.860001,14983700,0.0,0.0
2023-07-27 00:00:00-04:00,86.599998,86.879997,85.190002,85.360001,16691400,0.0,0.0
2023-07-28 00:00:00-04:00,85.860001,86.580002,85.449997,86.129997,13638300,0.0,0.0
2023-07-31 00:00:00-04:00,87.000000,89.360001,86.879997,88.889999,20837800,0.0,0.0
2023-08-01 00:00:00-04:00,89.120003,89.730003,88.459999,89.029999,13717500,0.0,0.0
2023-08-02 00:00:00-04:00,88.260002,88.330002,86.260002,86.300003,15162700,0.0,0.0
2023-08-03 00:00:00-04:00,85.820000,86.459999,85.449997,85.489998,14145400,0.0,0.0
2023-08-04 00:00:00-04:00,85.940002,87.110001,85.449997,86.300003,11516900,0.0,0.0
2023-08-07 00:00:00-04:00,86.660004,87.230003,85.989998,86.830002,10818400,0.0,0.0
2023-08-08 00:00:00-04:00,86.500000,88.330002,86.099998,88.129997,16767900,0.0,0.0
2023-08-09 00:00:00-04:00,89.199997,89.559998,87.040001,87.489998,32517900,0.0,0.0
2023-08-10 00:00:00-04:00,89.970001,92.529999,87.750000,91.760002,56716800,0.0,0.0
2023-08-11 00:00:00-04:00,91.320000,91.349998,88.860001,89.019997,21925700,0.0,0.0
2023-08-14 00:00:00-04:00,88.989998,89.300003,87.989998,88.809998,13676400,0.0,0.0
2023-08-15 00:00:00-04:00,87.989998,88.230003,86.889999,87.059998,13677900,0.0,0.0
2023-08-16 00:00:00-04:00,86.540001,87.059998,86.080002,86.349998,12182700,0.0,0.0
2023-08-17 00:00:00-04:00,86.919998,86.959999,85.800003,85.919998,14206000,0.0,0.0
2023-08-18 00:00:00-04:00,85.370003,86.720001,85.370003,85.959999,12353900,0.0,0.0
2023-08-21 00:00:00-04:00,85.809998,86.250000,85.410004,85.879997,11215000,0.0,0.0
2023-08-22 00:00:00-04:00,85.709999,86.089996,85.370003,85.790001,9845900,0.0,0.0
2023-08-23 00:00:00-04:00,85.809998,86.330002,85.639999,85.830002,7576000,0.0,0.0
2023-08-24 00:00:00-04:00,85.510002,85.949997,82.459999,82.470001,27402000,0.0,0.0