In [3]:
import yfinance as yf
import pandas as pd

In [4]:
ticker = 'GE'

In [5]:
df = yf.download(ticker)

[*********************100%%**********************]  1 of 1 completed

In [7]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-08-18,110.300003,111.930000,110.019997,111.790001,111.790001,4508400
2023-08-21,112.040001,112.480003,111.019997,112.019997,112.019997,2941800
2023-08-22,112.150002,113.050003,110.839996,111.660004,111.660004,2640400
2023-08-23,111.500000,113.760002,111.500000,113.470001,113.470001,2847600
2023-08-24,113.199997,113.959999,111.019997,111.040001,111.040001,3361500

In [8]:
df.head()

                Open      High       Low     Close  Adj Close  Volume
Date
1962-01-02  4.691347  4.769536  4.644433  4.675709   0.785146  345317
1962-01-03  4.652252  4.652252  4.613158  4.628796   0.777269  236606
1962-01-04  4.628796  4.667890  4.534969  4.574063   0.768078  294159
1962-01-05  4.574063  4.581882  4.378590  4.456780   0.748384  436442
1962-01-08  4.456780  4.456780  4.316039  4.448961   0.747072  495593

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15518 entries, 1962-01-02 to 2023-08-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       15518 non-null  float64
 1   High       15518 non-null  float64
 2   Low        15518 non-null  float64
 3   Close      15518 non-null  float64
 4   Adj Close  15518 non-null  float64
 5   Volume     15518 non-null  int64
dtypes: float64(5), int64(1)
memory usage: 848.6 KB

## setting specific time periods

In [12]:
df = yf.download(ticker, start='2019-01-01', end='2023-06-01')

[*********************100%%**********************]  1 of 1 completed

In [15]:
# intraday cannot extend last 60 days
df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2019-01-02  44.796734  49.120277  44.496487  48.339638  47.468643  21541338
2019-01-03  48.159492  49.240376  46.718307  48.399689  47.527607  20474697
2019-01-04  49.180328  49.600674  47.919292  49.420525  48.530060  19997555
2019-01-07  51.342102  52.783283  49.780819  52.483036  51.537388  29922843
2019-01-08  53.503872  54.284512  51.161953  51.402149  50.475983  24476646

In [18]:
df = yf.download(ticker, period='ytd')
df.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-03  65.612801  66.424667  65.214676  66.338799  66.228386   8204933
2023-01-04  68.410004  70.199997  66.750000  70.199997  70.083160  16784600
2023-01-05  69.900002  71.550003  69.000000  71.290001  71.171341  12770200
2023-01-06  72.010002  72.330002  70.750000  71.940002  71.820267  10389500
2023-01-09  72.000000  73.910004  71.959999  72.669998  72.549049   7572900

In [20]:
df = yf.download(ticker, period='1mo')
# Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
df.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-07-25,114.500000,117.959999,113.629997,117.160004,117.160004,17022400
2023-07-26,117.139999,117.389999,113.449997,114.720001,114.720001,7541700
2023-07-27,115.559998,117.260002,114.930000,115.419998,115.419998,6187000
2023-07-28,115.529999,115.849998,114.019997,114.389999,114.389999,4469900
2023-07-31,114.440002,114.750000,113.720001,114.239998,114.239998,4125500

## Frequency settings (intraday)

In [23]:
df = yf.download(ticker, period='3mo', interval='1h')

[*********************100%%**********************]  1 of 1 completed

In [24]:
# Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo

In [25]:
df.head(10)
# for intervals more than 1 day, download for 1 day and convert internally

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-05-25 09:30:00-04:00,101.400002,102.089996,100.680000,101.669998,101.669998,1145531
2023-05-25 10:30:00-04:00,101.680000,101.879997,100.959999,100.959999,100.959999,689102
2023-05-25 11:30:00-04:00,100.959999,101.309998,100.540001,101.089996,101.089996,596837
2023-05-25 12:30:00-04:00,101.089996,101.519997,100.936798,101.470001,101.470001,362832
2023-05-25 13:30:00-04:00,101.470001,101.839996,101.290001,101.620003,101.620003,496867
2023-05-25 14:30:00-04:00,101.620003,101.669998,101.279999,101.580002,101.580002,405705
2023-05-25 15:30:00-04:00,101.574997,101.760002,101.330002,101.510002,101.510002,770622
2023-05-26 09:30:00-04:00,101.589996,103.580002,101.559998,103.489998,103.489998,736132
2023-05-26 10:30:00-04:00,103.510002,103.870003,103.474998,103.620003,103.620003,501306
2023-05-26 11:30:00-04:00,103.629997,103.949997,103.470001,103.570000,103.570000,417811

In [26]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,437.000000,437.000000,437.000000,437.000000,437.000000,4.370000e+02
mean,109.386846,109.731417,109.064450,109.404259,109.404259,5.703379e+05
std,4.129585,4.111916,4.119367,4.094152,4.094152,4.430675e+05
min,99.889999,100.510399,99.705002,99.879997,99.879997,0.000000e+00
25%,105.870003,106.169998,105.370003,105.864998,105.864998,3.375570e+05
50%,110.349998,110.559998,110.099998,110.360001,110.360001,4.826620e+05
75%,112.820000,113.150002,112.529999,112.785004,112.785004,6.861010e+05
max,117.370300,117.959999,116.880096,117.370003,117.370003,6.762798e+06

In [27]:
df = yf.download(ticker, period='3mo', interval='1h', prepost=True)

[*********************100%%**********************]  1 of 1 completed

In [29]:
df.head(20)

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-05-25 04:00:00-04:00,100.980000,101.500000,100.980000,101.500000,101.500000,0
2023-05-25 05:00:00-04:00,101.490000,101.490000,99.800000,99.800000,99.800000,0
2023-05-25 06:00:00-04:00,100.050000,100.050000,100.050000,100.050000,100.050000,0
2023-05-25 07:00:00-04:00,101.120000,101.120000,100.980000,101.000000,101.000000,0
2023-05-25 08:00:00-04:00,100.980000,101.090000,100.440000,101.000000,101.000000,0
2023-05-25 09:00:00-04:00,101.000000,101.250000,100.740000,101.000000,101.000000,0
2023-05-25 09:30:00-04:00,101.400002,102.089996,100.680000,101.669998,101.669998,1145531
2023-05-25 10:30:00-04:00,101.680000,101.879997,100.959999,100.959999,100.959999,689102
2023-05-25 11:30:00-04:00,100.959999,101.309998,100.540001,101.089996,101.089996,596837
2023-05-25 12:30:00-04:00,101.089996,101.519997,100.936798,101.470001,101.470001,362832
2023-05-25 13:30:00-04:00,101.470001,101.839996,101.290001,101.620003,101.620003,496867
2023-05-25 14:30:00-04:00,101.620003,101.669998,101.279999,101.580002,101.580002,405705
2023-05-25 15:30:00-04:00,101.574997,101.760002,101.330002,101.510002,101.510002,770622
2023-05-25 16:00:00-04:00,101.520000,101.980000,101.520000,101.710000,101.710000,0
2023-05-25 17:00:00-04:00,101.520000,101.679800,101.300000,101.520000,101.520000,0
2023-05-25 18:00:00-04:00,101.600000,101.989900,101.300000,101.590000,101.590000,0
2023-05-25 19:00:00-04:00,101.300000,101.990000,101.300000,101.310000,101.310000,0
2023-05-26 04:00:00-04:00,101.500000,102.130000,101.500000,101.900000,101.900000,0
2023-05-26 06:00:00-04:00,101.620000,101.660000,101.620000,101.660000,101.660000,0
2023-05-26 07:00:00-04:00,101.550000,101.990000,101.550000,101.990000,101.990000,0

## stock splits and dividends

In [30]:
ticker = 'AAPL'

In [31]:
aapl = yf.download(ticker, period='10y', actions=True)

[*********************100%%**********************]  1 of 1 completed

In [42]:
aapl[aapl['Dividends'] != 0.0].tail(10)

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2021-05-07,130.850006,131.259995,129.479996,130.210007,128.528244,78973300,0.22,0.0
2021-08-06,146.350006,147.110001,145.630005,146.139999,144.468628,54126800,0.22,0.0
2021-11-05,151.889999,152.199997,150.059998,151.279999,149.768112,65463900,0.22,0.0
2022-02-04,171.679993,174.100006,170.679993,172.389999,170.884552,82465400,0.22,0.0
2022-05-06,156.009995,159.440002,154.179993,157.279999,156.135574,116124600,0.23,0.0
2022-08-05,163.210007,165.850006,163.000000,165.350006,164.374878,56697000,0.23,0.0
2022-11-04,142.089996,142.669998,134.380005,138.380005,137.792130,140814800,0.23,0.0
2023-02-10,149.460007,151.339996,149.220001,151.009995,150.598038,57450700,0.23,0.0
2023-05-12,173.619995,174.059998,171.000000,172.570007,172.337280,45497800,0.24,0.0
2023-08-11,177.320007,178.619995,176.550003,177.789993,177.789993,51988100,0.24,0.0

In [44]:
aapl.loc['2023-08-08':'2023-08-20']

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2023-08-08,179.690002,180.270004,177.580002,179.800003,179.557526,67823000,0.00,0.0
2023-08-09,180.869995,180.929993,177.009995,178.190002,177.949707,60378500,0.00,0.0
2023-08-10,179.479996,180.750000,177.600006,177.970001,177.729996,54686900,0.00,0.0
2023-08-11,177.320007,178.619995,176.550003,177.789993,177.789993,51988100,0.24,0.0
2023-08-14,177.970001,179.690002,177.309998,179.460007,179.460007,43675600,0.00,0.0
2023-08-15,178.880005,179.479996,177.050003,177.449997,177.449997,43622600,0.00,0.0
2023-08-16,177.130005,178.539993,176.500000,176.570007,176.570007,46964900,0.00,0.0
2023-08-17,177.139999,177.509995,173.479996,174.000000,174.000000,66062900,0.00,0.0
2023-08-18,172.300003,175.100006,171.960007,174.490005,174.490005,61114200,0.00,0.0

In [45]:
aapl.loc['2023-08-08':'2023-08-20'].diff()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2023-08-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-09,1.179993,0.659988,-0.570007,-1.610001,-1.607819,-7444500.0,0.00,0.0
2023-08-10,-1.389999,-0.179993,0.590012,-0.220001,-0.219711,-5691600.0,0.00,0.0
2023-08-11,-2.159988,-2.130005,-1.050003,-0.180008,0.059998,-2698800.0,0.24,0.0
2023-08-14,0.649994,1.070007,0.759995,1.670013,1.670013,-8312500.0,-0.24,0.0
2023-08-15,0.910004,-0.210007,-0.259995,-2.010010,-2.010010,-53000.0,0.00,0.0
2023-08-16,-1.750000,-0.940002,-0.550003,-0.879990,-0.879990,3342300.0,0.00,0.0
2023-08-17,0.009995,-1.029999,-3.020004,-2.570007,-2.570007,19098000.0,0.00,0.0
2023-08-18,-4.839996,-2.409988,-1.519989,0.490005,0.490005,-4948700.0,0.00,0.0

In [37]:
aapl[aapl['Stock Splits'] != 0.0]

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2014-06-09,23.174999,23.469999,22.9375,23.424999,20.802185,301660000,0.0,7.0
2020-08-31,127.580002,131.000000,126.0000,129.039993,126.748932,225702700,0.0,4.0

In [48]:
aapl.loc['2020-08-25':'2020-09-05']

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2020-08-25,124.697502,125.180000,123.052498,124.824997,122.608803,211495600,0.0,0.0
2020-08-26,126.180000,126.992500,125.082497,126.522499,124.276169,163022400,0.0,0.0
2020-08-27,127.142502,127.485001,123.832497,125.010002,122.790512,155552400,0.0,0.0
2020-08-28,126.012497,126.442497,124.577499,124.807503,122.591621,187630000,0.0,0.0
2020-08-31,127.580002,131.000000,126.000000,129.039993,126.748932,225702700,0.0,4.0
2020-09-01,132.759995,134.800003,130.529999,134.179993,131.797699,151948100,0.0,0.0
2020-09-02,137.589996,137.979996,127.000000,131.399994,129.067047,200119000,0.0,0.0
2020-09-03,126.910004,128.839996,120.500000,120.879997,118.733826,257599600,0.0,0.0
2020-09-04,120.070000,123.699997,110.889999,120.959999,118.812408,332607200,0.0,0.0

## exporting files to csv/excel

In [49]:
ticker = 'GE'

In [50]:
GE = yf.download(ticker, period='5y')

[*********************100%%**********************]  1 of 1 completed

In [51]:
GE.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2018-08-27  74.941452  76.742928  74.761307  76.682877  74.487785  7441510
2018-08-28  76.682877  77.403473  76.382637  76.622833  74.429459  9836811
2018-08-29  76.682877  77.943916  76.082390  77.883865  75.654404  7958219
2018-08-30  77.283371  77.883865  76.562782  76.682877  74.487785  7438479
2018-08-31  76.442680  77.763763  76.262535  77.703720  75.479401  8393628

In [52]:
GE.to_csv("GE.csv")

In [53]:
df = pd.read_csv("GE.csv", parse_dates=['Date'], index_col="Date")
df.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2018-08-27  74.941452  76.742928  74.761307  76.682877  74.487785  7441510
2018-08-28  76.682877  77.403473  76.382637  76.622833  74.429459  9836811
2018-08-29  76.682877  77.943916  76.082390  77.883865  75.654404  7958219
2018-08-30  77.283371  77.883865  76.562782  76.682877  74.487785  7438479
2018-08-31  76.442680  77.763763  76.262535  77.703720  75.479401  8393628

In [54]:
df.to_excel("GE.xls", engine='openpyxl')

In [55]:
pd.read_excel("GE.xls", parse_dates=['Date'], index_col="Date")

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-08-27,74.941452,76.742928,74.761307,76.682877,74.487785,7441510
2018-08-28,76.682877,77.403473,76.382637,76.622833,74.429459,9836811
2018-08-29,76.682877,77.943916,76.082390,77.883865,75.654404,7958219
2018-08-30,77.283371,77.883865,76.562782,76.682877,74.487785,7438479
2018-08-31,76.442680,77.763763,76.262535,77.703720,75.479401,8393628
...,...,...,...,...,...,...
2023-08-18,110.300003,111.930000,110.019997,111.790001,111.790001,4508400
2023-08-21,112.040001,112.480003,111.019997,112.019997,112.019997,2941800
2023-08-22,112.150002,113.050003,110.839996,111.660004,111.660004,2640400
2023-08-23,111.500000,113.760002,111.500000,113.470001,113.470001,2847600
2023-08-24,113.199997,113.959999,111.019997,111.040001,111.040001,3361500